@import "tailwindcss";

body, #root {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(203, 237, 250, 0.932);
  border-radius: 5%;
  margin: 12px;
}

/* #root {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
